body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.loginbox {
    width: 380px;
    height: 720px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    color: #000000;
    top: -20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-bottom:100px ;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -9%;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22p;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20PX;
}

.ids {
    border: none;
    border-bottom: 1px solid #008aff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.login {
    border: none;
    outline: none;
    height: 40px;
    background: #008aff;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.login:hover {
    background: white;
    color: #008aff;
}

.loginbox a {
    color: black;
}

.loginbox a:hover {

    color: white;